/** @format */

.qcMainCardBackground {
  background-color: var(--kendo-theme-color-base);
  padding: 80px;
  width: 100%;
  max-width: 306px;
  border-radius: 31px;
  cursor: pointer;
}
.qcMainCardBackground:hover {
  background-color: var(--kendo-color-hover);
}

.qcMainInsideCardBackground {
  background-color: var(--kendo-color-primary);
  padding: 24px;
  border-radius: 15px;
}
.qcMainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 36px;
  position: 'absolute';
}
